[submodule "Uneye/vendor/spdlog"]
	path = Uneye/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Uneye/vendor/GLFW"]
	path = Uneye/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Uneye/vendor/imgui"]
	path = Uneye/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Uneye/vendor/glm"]
	path = Uneye/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Uneye/vendor/stb"]
	path = Uneye/vendor/stb
	url = https://github.com/nothings/stb
[submodule "Uneye/vendor/ImGuizmo"]
	path = Uneye/vendor/ImGuizmo
	url = https://github.com/thecherno/ImGuizmo
