# Binaries
**/bin/
bin-int/
Intermediates/

# Directories
Uneye/vendor/VulkanSDK
Uneye-Editor/assets/cache
Scripts/__pycache__

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

Uneye.sln
Uneye/Uneye.vcxproj
Uneye/Uneye.vcxproj.filters
vendor/premake/Premake.vcxproj
vendor/premake/Premake.vcxproj.filters
