[submodule "Uneye/thirdyparty/spdlog"]
	path = Uneye/thirdyparty/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Uneye/thirdyparty/glfw"]
	path = Uneye/thirdyparty/glfw
	url = https://github.com/glfw/glfw
