# Binaries
**/bin/
bin-int/
Intermediates/

# Directories
Uneye/vendor/VulkanSDK
Uneye-Editor/assets/cache
Scripts/__pycache__

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

